{% extends 'base.html.twig' %}

{% block title %} {% trans %}Our Products {% endtrans %}{% endblock %}

{% block body %}
    <div class="container text-center text-sm-start">
        <div class="d-sm-flex align-items-center justify-content">
        {% for product in products %}
            <div class="card" >
                <img style="height:150px" src="/uploads/products/{{  product.image }}" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|u.truncate(150, "...", false)|raw }}</p>
                    <a href="#" class="btn btn-primary btn-lg">Go somewhere</a>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
